:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo:#00030C;

}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    padding: 0%;
    margin: 0%;
}
.principal{
    background-image: url(img/Background.png);
    background-repeat: no repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
height: 100vh;
grid-template-columns: 20% 80%;
display: grid;

}

.container_botao{
    background-color: var(--botao-azul);
    border-radius: 13px;
    padding: 18px;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1.5em;
}

.botao_secundario{
    background-color:transparent;
    border:2px solid var(--branco-principal)
}

.container_lembrete{
    font-size:12px;
    color: var(--cinza-secundario)
}

.container_titulo{
    font-size: 28px;
    font-weight: 700;
}

.container_imagem{
    margin: 1em 0 2em 0;
}

.container_caixa{
    margin:18px
}

.descricao_titulo{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.5em;
}
.descricao_publicidade{
    text-align: right;
    color: var(--cinza-secundario);

}
.secundario_imagem{

    
}

.secundario{
    align-items: center;
    
}

.secundario_botao{
    display: inline-block;
    margin-top: 3em;
}

.dispositos_lista{
    display:flex;
    justify-content: center;
    list-style-type:none;
    margin:5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos_titulo{
    font-size: 48px;
    color: var(--branco-principal)
}

.lista_item{
    font-size: 32px;
    color: red

}

.rodapé_lista{
    display:flex;
    list-style-type:none;
    justify-content: center;
}
.Rodapé{

    text-align:  center;
    margin: 0 3em;
}

.rodapé_logo{

    margin-bottom: 2em;
}

.lista_link{

    color:var(--branco-principal);
    margin-left: 3em;
    text-decoration: none;
}